<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Jailbreak 2014 in assocatation with [...]{% endblock %}</title>

        <link rel="shortcut icon" href="{{ STATIC_URL }}base/favicon.ico">

        <!-- Base CSS -->
        <link rel="stylesheet" href="{{ STATIC_URL }}utilities/css/foundation.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}utilities/css/foundation-font-icons.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base/css/main.css">

        <!-- Odometer -->
        <link rel="stylesheet" href="{{ STATIC_URL }}utilities/css/odometer-minimal.css" />

        {% block extra_css %}
        {% endblock %}

        <!-- Base JS -->
        <script src="{{ STATIC_URL }}utilities/js/modernizr.js"></script>

        {% block header_javascript %}
        {% endblock %}
    </head>
    <body>
        <div class="off-canvas-wrap">
          <div class="inner-wrap">

            <header id="header">
                <div>
                    <div class="medium-6 small-10 columns">
                        <div id="menu-burger" class="show-for-small-only">
                            <a class="left-off-canvas-toggle"><i class="fi-list"></i></a>
                        </div>

                        <div id="site-title">
                            <h1><a href="/">Jailbreak 2014</a></h1>
                        </div>
                    </div>

                    <div class="medium-6 columns show-for-medium-up">
                        <h2 id="supporters-logo">Law Soc, Trinity VDP &amp; Amnesty International</h2>
                    </div>
                </div>
            </header>

            <!-- Off Canvas Menu -->
            <aside class="left-off-canvas-menu">
                <!-- whatever you want goes here -->
                <ul class="off-canvas-list">
                    <li><label>Pages</label></li>
                    <li><a href="/"><i class="fi-home"></i>Home</a></li>
                    <li><a href="/teams/"><i class="fi-torsos-all"></i>Team Listing</a></li>
                    <li><a href="/teams/universities/compare"><i class="fi-trophy"></i>University Awards</a></li>
                    <li><a href="/snapchat-rat-race/"><i class="fi-social-snapchat"></i>Snapchat Rat Race</a></li>
                </ul>
                <ul class="off-canvas-list">
                    <li><label>Contact Us</label></li>
                    <li><a href="#"><i class="fi-mail"></i>Send us an email</a></li>
                    <li><a href="#"><i class="fi-megaphone"></i>Press Enquiries</a></li>
                </ul>
                <ul class="off-canvas-list">
                    <li><label>FQA</label></li>
                    <li><a href="#"><i class="fi-info"></i>What is Jailbreak?</a></li>
                    <li><a href="#"><i class="fi-heart"></i>How can I donate?</a></li>
                </ul>
                <ul class="off-canvas-list">
                    <li><label>Miscellaneous</label></li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url "login" %}"><i class="fi-lock"></i>Login</a></li>
                    {% else %}
                        <li><a href="{% url "logout" %}"><i class="fi-eject"></i>Logout</a></li>
                    {% endif %}
                </ul>
            </aside>

            <!-- main content goes here -->
            <div id="main-content">
                {% block body_html %}
                {% endblock %}
            </div>

            <!-- close the off-canvas menu -->
            <a class="exit-off-canvas"></a>
            </div><!-- close #inner-wrap -->
        </div><!-- close #off-canvas-wrap -->

        <script src="{{ STATIC_URL }}utilities/js/jquery.js"></script>
        <script src="{{ STATIC_URL }}utilities/js/foundation.min.js"></script>
        <script>
          $(document).foundation();
        </script>
       
        <!-- Odometer counter for the donate buttons -->
        <script src="{{ STATIC_URL }}utilities/js/odometer.js"></script>
        <script>
            $(document).ready(function() {
                // odometer animation for donate buttons
                setTimeout(function(){
                    $(".odometer").each(function(index) {
                        var value = $(this).attr('data-value');
                        $(this).html(value);
                    });
                }, 1000);
            });
        </script>

        {% block footer_javascript %}
        {% endblock %}
    </body>
</html>