<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Jailbreak 2014 in assocatation with [...]{% endblock %}</title>

        <link rel="shortcut icon" href="{{ STATIC_URL }}base/favicon.ico">
        
        <!-- Base CSS -->
        <link rel="stylesheet" href="{{ STATIC_URL }}utilities/css/foundation.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base/css/main.css">

        {% block extra_css %}
        {% endblock %}

        <!-- Base JS -->
        <script src="{{ STATIC_URL }}utilities/js/modernizr.js"></script>

        {% block header_javascript %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <header class="top-bar">
                <a href="/">Jailbreak 2014</a>

                <span>in aid of</span> 

                <img src="" alt="Trinity VDP" />

                <img src="" alt="Amnesty International" />
            </header>

            <div id="main-content">
                {% block body_html %}
                {% endblock %}
            </div>
        </div>

        <script src="{{ STATIC_URL }}utilities/js/jquery.js"></script>
        <script src="{{ STATIC_URL }}utilities/js/foundation.min.js"></script>
        <script>
          $(document).foundation();
        </script>
        {% block footer_javascript %}
        {% endblock %}
    </body>
</html>