{% extends 'base.html' %}

{% load humanize %}
{% load show_post %}

{% block extra_css %}
    {% if not STARTED %}
    <link rel="stylesheet" href="{{ STATIC_URL }}utilities/css/flipclock.css" />
    {% endif %}
{% endblock %}

{% block body_html %}
<div class="row">
    
    <section id="standings" class="small-12 medium-4 columns">
        <h3>Standings</h3>
        <ul class="list">
            {% for team in standings %}
            {% if forloop.counter < 8 %}
                <li{% cycle '' ' class="odd"' %}>
            {% else %}
                <li{% cycle ' class="show-for-medium-up"' ' class="odd show-for-medium-up"' %}>
            {% endif %}
                <div class="row">
                    <div class="rank"><span>#{{ forloop.counter }}</span></div>

                    <span class="last-checkin-time">{{ team.last_checkin.time|timesince|default:"never" }}</span>

                    <div class="small-6 columns">
                        <a href="{% url "team" team.slug %}" class="th radius"><img class="profiler" src="{{ team.photo_url }}" width="150" height="150" /></a>
                    </div>
                    <div class="small-6 columns">                      
                        <h4><a href="{% url "team" team.slug %}">{{ team.name }}</a></h4>
                        <p>Team {{ team.number }} - {{ team.university_name }}</p>
                        <p class="location">{{ team.last_checkin.name }} <span>({{ team.distance|floatformat:"0"|intcomma }} km)</span></p>

                        <div class="donate-button small">
                            <div class="donate-link">
                                <a href="{{ team.sponsor_link }}"><i class="fi-heart"></i>Donate</a>
                            </div>
                            <div class="count">
                                &euro; {{ team.amount_raised|intcomma }}
                            </div>
                            <br class="clear" />
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
            <!--<li class="full-standings-list">
                <a href="">Full Standings List...</a>
            </li>-->
        </ul>
    </section>

    <section id="home-main" class="medium-8 small-12 columns">

        <section id="map">
            <div class="flex-video">
                <div id="map-canvas" class="map-container"></div>
            </div>
        </section>

        <section id="end-timer">
                <div class="small-12 small-centered columns">
                    <ul class="pricing-table">
                        <li class="title">
                            THE WINNERS ARE....
                        </li>
                        <li CLASS="price">
                            <div class="small-6 columns">
                                <a href="/teams/Kyryll-and-Salim/" class="th radius"><img class="profiler" src="http://s3-eu-west-1.amazonaws.com/jailbreak14/jailbreak14-uploads/TCDTeam15.jpg" width="150" height="150"></a>
                            </div>
                            <div class="small-6 columns">
                                <h4><a href="/teams/Kyryll-and-Salim/">Kyryll and Salim</a></h4>
                                <p>Team 15 - TCD</p>
                                <p class="location">SYDNEY!!!!!!! <span>(17,223 km)</span></p>
                                
                                <a class="button expand" href="http://www.sponsor.ie/tcd-team15kyryllandsalim/event/jailbreak14/"><i class="fi-heart"></i>Donate</a>

                                <br class="clear" />
                            </div>
                            <br class="clear" />
                        </li>
                    </ul>
                </div>
        </section>

        <section id="main-stats">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <ul class="pricing-table">
                      <li class="title">Total Raised</li>
                      <li class="price">&euro; <div class="odometer" data-value="{{ total_amount_raised }}">0</div></li>
                      <li class="description">The total amount of money raised online plus an estimated &euro;7,300 in dontations given directly to teams.</li>
                    </ul>
                </div>
                <div class="small-12 medium-6 columns">
                    <ul class="pricing-table">
                      <li class="title">Total Distance from Dublin</li>
                      <li class="price"><div class="odometer" data-value="{{ total_distance_from_start }}">0</div> km</li>
                      <li class="description">The culmulative number of kilometers all teams are from their respective start point in either Cork or Dublin</li>
                    </ul>
                </div>
            </div>
        </section>

        {% if RADIO_LIVE %}
        <section id="radio">
            <div class="row">
                <div class="small-12 medium-6 columns"></div>
                <div class="small-12 medium-6 columns">
                    <a target="_blank" href="http://new.livestream.com/DUFM/events/2429209" class="button expand"><i class="fi-volume"></i> Listen Live on Trinity FM</a>
                </div>
            </div>
        </section>
        {% endif %}

        <section id="social-feed" >
        {% for type, post in posts %}
            {% show_post type post %}
        {% endfor %}
        </section>
    </section>
</div> 
{% endblock %}

{% block footer_javascript %}
    <script src="{{ STATIC_URL }}utilities/js/flipclock.min.js"></script>
    <script>
        $(document).ready(function() {
            var timer_ends = function() {
                $("countdown-timer-wrap").html("<p>Jailbreak 2014 is now over, please wait for the judges to annouce the results</p>");
            };

            var clock = $('#countdown-timer').FlipClock({
                autostart: false,
                countdown: true,
                callbacks: {
                    stop: timer_ends
                }
            });
            clock.setTime({{ SECONDS_TO_END }});
            clock.start();
        });
    </script>

    <script>
        var colours = {
            'tcd': '#FDDC39',
            'nuig': '#1DAFEC',
            'ucc': '#EA168C',
            'ucd': '#17A552'
        }

        function initialize() {
            var mapOptions = {
                zoom: 4,
                center: new google.maps.LatLng(53.3418, -6.3098),
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                streetViewControl: false
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            // auto zoom map to show all markers
            var markerBounds = new google.maps.LatLngBounds();

            {% for team in standings %}
                // TEAM
                // path drawn across map
                var checkinLines = [
                    new google.maps.LatLng({{ team.start_lat }}, {{ team.start_lng }}),
                    {% for checkin in team.checkins.all %}
                        new google.maps.LatLng({{ checkin.lat_position }}, {{ checkin.lng_position }}),
                    {% endfor %}
                ];
                var travelPath = new google.maps.Polyline({
                    path: checkinLines,
                    geodesic: true,
                    strokeColor: colours['{{ team.university_key }}'],
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });

                travelPath.setMap(map);

                // CHECKINS
                var infowindow = null;
                var markers = Array();

                // start pointss
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng({{ team.start_lat }}, {{ team.start_lng }}),
                    map: map,
                    title: "#{{ team.number }} {{ team.name }}",
                    html: "<div class=\"info-window\"><h4>The start point</h4><p>Like all good stories let's begin at the start...</p></div>"
                });
                markers.push(marker);

                // checkins from the field
                {% for checkin in team.checkins.all %}
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng({{ checkin.lat_position }}, {{ checkin.lng_position }}),
                        map: map,
                        title: "#{{ team.number }} {{ team.name }} checked in at {{ checkin.name }}",
                        html: "{% spaceless %}<div class=\"info-window row\"><div class=\"small-3 columns\"><a href=\"{% url "team" team.slug %}\"><img width=\"75\" height=\"75\" src=\"{{ UPLOADS_URL }}{{ team.photo_url }}\" /></a></div><div class=\"small-9 columns\"><h3><a href=\"{% url "team" team.slug %}\">#{{ team.number }} {{ team.name }}</a></h3><h4>{{ checkin.name|escapejs }}</h4><p>{{ checkin.message|escapejs|default:" " }}</p></div></div>{% endspaceless %}"
                    });
                    markers.push(marker);
                {% endfor %}

                // content info window for this marker
                infowindow = new google.maps.InfoWindow({
                    content: "holding..."
                });
                for (var i = 0; i < markers.length; i++) {
                    var marker = markers[i];
                    google.maps.event.addListener(marker, 'click', function () {
                        // where I have added .html to the marker object.
                        infowindow.setContent(this.html);
                        infowindow.open(map, this);
                    });

                    // auto-zooming
                    markerBounds.extend(marker.position);
                }


            {% endfor %}

            // Then you just call the fitBounds method and the Maps widget does all rest.
            map.fitBounds(markerBounds);
        }

        function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
              'callback=initialize';
          document.body.appendChild(script);
        }

        window.onload = loadScript;
    </script>
{% endblock %}
