{% extends 'base.html' %}

{% load show_post %}

{% block extra_css %}
{% endblock %}

{% block body_html %}
<div class="row">
    <section id="standings" class="medium-4 show-for-medium-up columns">
        <h3>Standings</h3>
        <ul class="list">
            {% for team in standings %}
            <li{% cycle '' ' class="odd"' %}>
                <div class="row">
                    <div class="rank"><span>#{{ forloop.counter }}</span></div>

                    <span class="last-checkin-time">{{ team.last_checkin.time|timesince|default:"never" }}</span>

                    <div class="medium-6 columns">
                        <a href="{% url "team" team.slug %}" class="th radius"><img class="profiler" src="http://placehold.it/150x150" /></a>
                    </div>
                    <div class="medium-6 columns">                      
                        <h4><a href="{% url "team" team.slug %}">{{ team.name }}</a></h4>
                        <p>Team {{ team.number }} - {{ team.university_name|upper }}</p>
                        <p class="location">{{ team.last_checkin.name }} <span>({{ team.distance|floatformat:"1" }} km)</span></p>

                        <div class="donate-button small">
                            <div class="donate-link">
                                <a href="{{ team.sponsor_link }}"><i class="fi-heart"></i>Donate</a>
                            </div>
                            <div class="count">
                                &euro; {{ team.amount_raised }}
                            </div>
                            <br class="clear" />
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
            <li class="full-standings-list">
                <a href="">Full Standings List...</a>
            </li>
        </ul>
    </section>

    <section id="home-main" class="medium-8 small-12 columns">

        <section id="map" class="flex-video">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d76235.50443936698!2d-6.249427395117186!3d53.33682034292388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sie!4v1392484951339" width="800" height="450" frameborder="0" style="border:0"></iframe>
        </section>

        <section id="main-stats">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <ul class="pricing-table">
                      <li class="title">Total Raised</li>
                      <li class="price">&euro; <div class="odometer" data-value="{{ total_amount_raised }}">0</div></li>
                      <li class="description">The total amount of money raised online for Amnesty International and Saint Vincent de Paul</li>
                    </ul>
                </div>
                <div class="small-12 medium-6 columns">
                    <ul class="pricing-table">
                      <li class="title">Total Distance from Dublin</li>
                      <li class="price">&euro; <div class="odometer" data-value="{{ total_distance_from_start }}">0</div></li>
                      <li class="description">How many kilometers every team is from the start point at Kilmainham Jail, Dublin</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="social-feed" >
            {% for post in posts %}
                {% show_post post %}
            {% endfor %}
        </section>
    </section>
</div>  
{% endblock %}

{% block footer_javascript %}
    
{% endblock %}
