{% extends 'base.html' %}

{% load show_post %}
{% load humanize %}

{% block title %}Team {{ team.number }}: {{ team.name }} - {{ block.super }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}teams/css/teams.css" type="text/css" />
{% endblock %}

{% block body_html %}
    <section id="team">

        <div class="row">
            <div class="small-12 columns">
                <header class="header">
                    <div id="cover-photo" class="show-for-medium-up">
                        <img src="{{ STATIC_URL }}base/images/headers/{{ team.university_key }}-header.png" height="200" />
                    </div>
                
                    <div id="profiler" class="profiler-{{ team.university_key }}">
                        <img src="{{ team.photo_url }}" height="200" width="200" />
                    </div>

                    <div class="details">
                        <h2>Team #{{team.number }}: {{ team.name }}</h2>
                        <p><a href="{% url "university" team.university_key %}">{{ team.university_full_name }}</a></p>
                        <p class="desc">{{ team.description }}</p>
                    </div>
                </header>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <h3>Our Journey Thus Far...</h3>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-4 columns">
                <ul class="pricing-table">
                    <li class="title">Distance from Start</li>
                    <li class="price">{{ team.distance|floatformat:"0"|intcomma  }} km</li>
                    <li class="description">The distance we are from their start point</li>
                </ul>

                <ul class="pricing-table">
                    <li class="title">Distance Travelled</li>
                    <li class="price">{{ team.distance_travelled|floatformat:"0"|intcomma }} km</li>
                    <li class="description">The distance we have travelled between checkins</li>
                </ul>

                {% if posts or not team.youtube_embed_link %}
                <div class="donate-button">
                    <div class="donate-link">
                        <a href="{{ team.sponsor_link }}"><i class="fi-heart"></i>Donate</a>
                    </div>
                    <div class="count">
                        &euro; <div class="odometer" data-value="{{ team.amount_raised }}">0</div>
                    </div>
                    <br class="clear" />
                </div>
                {% endif %}
            </div>

            <div class="small-12 medium-8 columns">
                <section id="map">
                    <div class="flex-video">
                        <div id="map-canvas">
                    </div>
                </section>
            </div>
        </div>

        {% if posts %}
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <h3>Team Updates</h3>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">    
                    {% for post in posts %}
                        <div class="{%cycle 'left' '' %}">
                            {% show_post post %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if team.youtube_embed_link %}
        <div class="row">
            <div class="small-12 medium-8 columns">
                <h3>Application Video</h3>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-8 columns">    
                <div class="flex-video widescreen">
                    <iframe width="800" height="400" src="{{ team.youtube_embed_link }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="small-12 medium-4 columns">    
                <p>Please help us support Amnesty International and Society of Saint Vincent de Paul.</p>
                <div class="donate-button">
                    <div class="donate-link">
                        <a href="{{ team.sponsor_link }}"><i class="fi-heart"></i>Donate</a>
                    </div>
                    <div class="count">
                        &euro; <div class="odometer" data-value="{{ team.amount_raised }}">0</div>
                    </div>
                    <br class="clear" />
                </div>
            </div>
        </div>
        {% endif %}
    </section>
{% endblock %}

{% block footer_javascript %}
<script>
    var colours = {
        'tcd': '#FDDC39',
        'nuig': '#1DAFEC',
        'ucc': '#EA168C',
        'ucd': '#17A552'
    }

    function initialize() {
        var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(53.3418, -6.3098),
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // path drawn across map
        var checkinLines = [
            new google.maps.LatLng({{ team.start_lat }}, {{ team.start_lng }}),
            {% for checkin in checkins %}
                new google.maps.LatLng({{ checkin.lat_position }}, {{ checkin.lng_position }}),
            {% endfor %}
        ];
        var travelPath = new google.maps.Polyline({
            path: checkinLines,
            geodesic: true,
            strokeColor: colours['{{ team.university_key }}'],
            strokeOpacity: 1.0,
            strokeWeight: 3
        });

        travelPath.setMap(map);

        // markers and auto zoom
        var markerBounds = new google.maps.LatLngBounds();

        var infowindow = null;
        var markers = Array();

        // start point
        marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ team.start_lat }}, {{ team.start_lng }}),
                map: map,
                title: "#{{ team.number }} {{ team.name }}",
                html: "<div class=\"info-window\"><h4>The start point</h4><p>Like all good stories let's begin at the start...</p></div>"
            });
        markers.push(marker);
        
        // CHECKINS
        {% for checkin in checkins %}
            marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ checkin.lat_position }}, {{ checkin.lng_position }}),
                map: map,
                title: "#{{ team.number }} {{ team.name }} checked in at {{ checkin.name }}",
                html: "<div class=\"info-window\"><h4>{{ checkin.name }}</h4><p>{{ checkin.message }}</p></div>"
            });
            markers.push(marker);
        {% endfor %}

        // content info window for this marker
        infowindow = new google.maps.InfoWindow({
            content: "holding..."
        });
        for (var i = 0; i < markers.length; i++) {
            var marker = markers[i];
            google.maps.event.addListener(marker, 'click', function () {
                // where I have added .html to the marker object.
                infowindow.setContent(this.html);
                infowindow.open(map, this);
            });

            // auto-zooming
            markerBounds.extend(marker.position);
        }

        // Then you just call the fitBounds method and the Maps widget does all rest.
        map.fitBounds(markerBounds);
    }

    function loadScript() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
          'callback=initialize';
      document.body.appendChild(script);
    }

    window.onload = loadScript;
</script>
{% endblock %}