{% extends 'base.html' %}

{% block title %}Teams Listing - {{ block.super }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}teams/css/teams.css" type="text/css" />
{% endblock %}

{% block body_html %}
<div class="row">
	<div class="small-12">
		<section id="teams">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
	        {% for team in teams %}
	        	<li>
	        		<div class="small-4 medium-6 columns">
	                    <a href="{% url "team" team.slug %}" class="th radius"><img class="profiler" src="{{ team.photo_url }}" height="150" widht="150" /></a>
	                </div>
	                <div class="small-8  medium-6 columns"> 
	                    <h4><a href="{% url "team" team.slug %}">{{ team.name }}</a></h4>
	                    <p>Team {{ team.number }} - {{ team.university_name }}</p>
	                    <p>{{ team.last_checkin.name }} <small>({{ team.distance|floatformat:"1" }} km)</small></p>

	                    <div class="donate-button small">
                            <div class="donate-link">
                                <a href="{{ team.sponsor_link }}"><i class="fi-heart"></i>Donate</a>
                            </div>
                            <div class="count">
                                &euro; <div class="odometer" data-value="{{ team.amount_raised }}">0</div>
                            </div>
                            <br class="clear" />
                        </div>
	                </div>
	            </li>
	        {% endfor %}
		    </ul>
		</section>
	</div>
</div>
   
{% endblock %}