{% extends 'base.html' %}

{% load show_team %}

{% block title %}Teams Listing - {{ block.super }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}teams/css/teams.css" type="text/css" />
{% endblock %}

{% block body_html %}
<div class="row">
	<div class="small-12">
		<section id="teams">
			<ul class="teams-list small-block-grid-1 medium-block-grid-2 large-block-grid-3">
	        {% for team in teams %}
	        	{% show_team team %}
	        {% endfor %}
		    </ul>
		</section>
	</div>
</div>
   
{% endblock %}